@font-face {
    font-family: 'iconfont';
    /* project id 1933632 */
    src: url('//at.alicdn.com/t/font_1933632_ub1oskhrzib.eot');
    src: url('//at.alicdn.com/t/font_1933632_ub1oskhrzib.eot?#iefix') format('embedded-opentype'), url('//at.alicdn.com/t/font_1933632_ub1oskhrzib.woff2') format('woff2'), url('//at.alicdn.com/t/font_1933632_ub1oskhrzib.woff') format('woff'), url('//at.alicdn.com/t/font_1933632_ub1oskhrzib.ttf') format('truetype'), url('//at.alicdn.com/t/font_1933632_ub1oskhrzib.svg#iconfont') format('svg');
}

.iconfont {
    font-family: "iconfont" !important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.iconxiangxiajiantoushixin:before {
    content: "\e62b";
    color: #fff;
}

.iconiconset0420:before {
    content: "\e72b";
}

.iconxingxing:before {
    content: "\e642";
}